@media screen   and (max-width:400px) {
    .nav-container, .banner-container {
        flex-direction: column;
    }
    .nav-item-container{
        flex-direction: column;
        gap: 30px;
        padding: 10px;
    }
    
    .banner-content, .banner-img{
        padding: 5px;
        width: 100%;
        text-align: center;
    
    }

    .banner-content h1{
        font-size: 60px;
    }
    .banner-content h2{
        font-size: 30px;
    }
    .banner-content p{
        font-size: 10px;
    }
    .banner-content button{
        margin-top: 10px;
    }
    /* main section start here */
    .gamer-container{
        flex-direction: column;
        
    }
    .gamer-img, .gamer-content{
        padding-left: 0;
        width: 100%;
        text-align: center;
    }
}